page-player {
    ion-footer {
        ion-item {
            &.item {
                padding: 0 1rem;
                &[height-auto] {
                    min-height: auto;
                }
                &.item-block {
                    .item-inner {
                        padding: 0;
                        .input-wrapper {
                            ion-range {
                                padding-top: 0;
                                padding-bottom: 0;
                                &.range-md {
                                    .range-knob {
                                        width: 20px;
                                        height: 20px;
                                        top: 12px;
                                        left: 11px;
                                        -webkit-box-shadow: $item_shadow;
                                        box-shadow: $item_shadow;
                                    }
                                }
                            }
                        }
                    }
                }
                button {
                    &[ion-button] {
                        margin: 0 1rem 2rem;
                        min-height: 36px;
                        min-width: 36px;
                        padding: 0;
                        ion-icon {
                            font-size: 2.2rem;
                        }
                    }
                    &[button-trans] {
                        -webkit-box-shadow: $item_shadow;
                        box-shadow: $item_shadow;
                    }
                }
            }
        }
    }
    .player-main-container {
        position: absolute;
        left: 0;
        top: 5rem;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        ion-item {
          h1 {
            color: $light;
            font-size: 1.8rem;
            font-weight: 600;
          }
          p {
            color: $light;
            font-size: 1.5rem;
          }
          img {
            width: 100px;
          }
            &.item {
                button {
                    &[btn-ra] {
                        width: 54px;
                        height: 54px;
                        top: -1rem;
                        ion-icon {
                            font-size: 4rem;
                            opacity: .5;
                            position: relative;
                        }
                        &[item-left] {
                            ion-icon {
                                left: -.2rem;
                            }
                        }
                        &[item-right] {
                            ion-icon {
                                right: -.2rem;
                            }
                        }
                    }
                }
                ion-label {
                    padding: .5rem 1.5rem 2.5rem;
                    button {
                        &[btn-pp] {
                            width: 120px;
                            height: 120px;
                            ion-icon {
                                font-size: 7rem;
                                position: relative;
                                &.wz-icon-new-play{
                                    right: -.5rem;
                                }
                            }
                        }
                    }
                }
                &[item-time] {
                    margin-top: -4rem;
                    h3 {
                        color: $light;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
