<!-- Generated template for the MediaRowPlayComponent component -->
<div class="list-item">
  <!--
  <div class="tags">
    esta categoria no existe en los medias!
    <span class="new">NEW</span>
  </div>
  -->
  <ion-item no-lines mode="ios" bg-fade [ngClass]="{'listened yes' : media.wasListened}" ion-item-multiaction>
    <div class="left-button" (click)="rowClick()">
      <img class="img-icon" src="assets/imgs/icon-play.svg" alt="">
      <h2>{{media.title}}</h2>
      <span>{{media.length}} min</span>
    </div>
    <div item-right (click)="addFav()" *ngIf="!showLock()">
      <button ion-button clear color="{{color}}">
        <ion-icon class="wz-favorite" *ngIf="!media.changingStateFav; else changeFav" ></ion-icon>
        <ng-template #changeFav>
          <ion-spinner name="dots"></ion-spinner>
        </ng-template>
      </button>
    </div>
    <div item-right (click)="unlock()" *ngIf="showLock()">
        <button ion-button clear color="{{color}}">
          <ion-icon class="wz-premium"></ion-icon>
        </button>
    </div>
  </ion-item>
</div>
